In [68]:
import pandas as pd
import datetime as dt

In [43]:
with open("Expenses.csv", 'r') as file:
    df = pd.DataFrame(data=file)

In [44]:
dff = pd.read_csv('Expenses.csv')


df_filtered = dff[dff['Complete'] == True]

In [55]:
def edit_curency(val):
    return val.lstrip('lev')

In [69]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 280 entries, 0 to 279
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         280 non-null    object
 1   Description  280 non-null    object
 2   Category     280 non-null    object
 3   Income       0 non-null      float64
 4   Debits       280 non-null    object
 5   Complete     280 non-null    bool
dtypes: bool(1), float64(1), object(4)
memory usage: 13.4+ KB

In [72]:
df_filtered['new_date'] = pd.to_datetime(df_filtered['Date']).dt.to_datetime('%D/%m/%Y')

AttributeError: 'DatetimeProperties' object has no attribute 'to_datetime'

In [19]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/27 20:51:31 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [20]:
spark

In [21]:
sprkdf = spark.createDataFrame(df_filtered)

In [25]:
display(sprkdf)

DataFrame[Date: string, Description: string, Category: string, Income: double, Debits: string, Complete: boolean]

In [27]:
sprkdf.show()

[Stage 0:>                                                          (0 + 1) / 1]

+----------+--------------------+--------------------+------+------+--------+
|      Date|         Description|            Category|Income|Debits|Complete|
+----------+--------------------+--------------------+------+------+--------+
|12/30/2021|       Standing Desk|Household Bills (...|   NaN|640.00|    true|
|12/30/2021|                Gass|                 Car|   NaN|200.00|    true|
|12/31/2021|            Presents|Household Bills (...|   NaN|400.00|    true|
| 1/10/2022|            New Book|Household Bills (...|   NaN| 16.00|    true|
| 1/11/2022|            New Book|Household Bills (...|   NaN| 52.00|    true|
| 1/11/2022|           Grosaries|                Food|   NaN| 13.00|    true|
|  1/8/2022|       Laptop Cooler|Household Bills (...|   NaN|100.00|    true|
| 1/12/2022|Finansical Education|Household Bills (...|   NaN|650.00|    true|
| 1/15/2022|             Ski fun|Household Bills (...|   NaN|180.00|    true|
| 1/21/2022|     Bose Headphones|Household Bills (...|   NaN|127.00|    true|
| 1/21/2022|           new chair|Household Bills (...|   NaN|300.00|    true|
| 1/21/2022|            desk pad|Household Bills (...|   NaN| 30.00|    true|
| 1/22/2022|                 RAM|Household Bills (...|   NaN| 60.00|    true|
| 1/22/2022|           Transport|Household Bills (...|   NaN| 10.00|    true|
| 1/25/2022|         Ski googles|Household Bills (...|   NaN|100.00|    true|
| 1/28/2022|              Helmet|Household Bills (...|   NaN|100.00|    true|
| 1/28/2022|                Food|                Food|   NaN| 70.00|    true|
|  2/2/2022|              Cigars|Household Bills (...|   NaN| 10.00|    true|
|  2/3/2022|           Medicals |Household Bills (...|   NaN| 75.00|    true|
|  2/3/2022|            New Book|Household Bills (...|   NaN| 20.00|    true|
+----------+--------------------+--------------------+------+------+--------+
only showing top 20 rows

In [29]:
sp = spark.read.format("csv") \
        .option("header", True) \
        .load("Expenses.csv")
sp.show()

+----------+--------------------+--------------------+------+---------+--------+
|      Date|         Description|            Category|Income|   Debits|Complete|
+----------+--------------------+--------------------+------+---------+--------+
|12/30/2021|       Standing Desk|Household Bills (...|  null|lev640.00|    TRUE|
|12/30/2021|                Gass|                 Car|  null|lev200.00|    TRUE|
|12/31/2021|            Presents|Household Bills (...|  null|lev400.00|    TRUE|
| 1/10/2022|            New Book|Household Bills (...|  null| lev16.00|    TRUE|
| 1/11/2022|            New Book|Household Bills (...|  null| lev52.00|    TRUE|
| 1/11/2022|           Grosaries|                Food|  null| lev13.00|    TRUE|
|  1/8/2022|       Laptop Cooler|Household Bills (...|  null|lev100.00|    TRUE|
| 1/12/2022|Finansical Education|Household Bills (...|  null|lev650.00|    TRUE|
| 1/15/2022|             Ski fun|Household Bills (...|  null|lev180.00|    TRUE|
| 1/21/2022|     Bose Headphones|Household Bills (...|  null|lev127.00|    TRUE|
| 1/21/2022|           new chair|Household Bills (...|  null|lev300.00|    TRUE|
| 1/21/2022|            desk pad|Household Bills (...|  null| lev30.00|    TRUE|
| 1/22/2022|                 RAM|Household Bills (...|  null| lev60.00|    TRUE|
| 1/22/2022|           Transport|Household Bills (...|  null| lev10.00|    TRUE|
| 1/25/2022|         Ski googles|Household Bills (...|  null|lev100.00|    TRUE|
| 1/28/2022|              Helmet|Household Bills (...|  null|lev100.00|    TRUE|
| 1/28/2022|                Food|                Food|  null| lev70.00|    TRUE|
|  2/2/2022|              Cigars|Household Bills (...|  null| lev10.00|    TRUE|
|  2/3/2022|           Medicals |Household Bills (...|  null| lev75.00|    TRUE|
|  2/3/2022|            New Book|Household Bills (...|  null| lev20.00|    TRUE|
+----------+--------------------+--------------------+------+---------+--------+
only showing top 20 rows

In [34]:
sp.count()

996

In [39]:
from pyspark.sql.functions import col

reduced = sp.where(col('Complete') == True)

reduced.show()

+----------+--------------------+--------------------+------+---------+--------+
|      Date|         Description|            Category|Income|   Debits|Complete|
+----------+--------------------+--------------------+------+---------+--------+
|12/30/2021|       Standing Desk|Household Bills (...|  null|lev640.00|    TRUE|
|12/30/2021|                Gass|                 Car|  null|lev200.00|    TRUE|
|12/31/2021|            Presents|Household Bills (...|  null|lev400.00|    TRUE|
| 1/10/2022|            New Book|Household Bills (...|  null| lev16.00|    TRUE|
| 1/11/2022|            New Book|Household Bills (...|  null| lev52.00|    TRUE|
| 1/11/2022|           Grosaries|                Food|  null| lev13.00|    TRUE|
|  1/8/2022|       Laptop Cooler|Household Bills (...|  null|lev100.00|    TRUE|
| 1/12/2022|Finansical Education|Household Bills (...|  null|lev650.00|    TRUE|
| 1/15/2022|             Ski fun|Household Bills (...|  null|lev180.00|    TRUE|
| 1/21/2022|     Bose Headphones|Household Bills (...|  null|lev127.00|    TRUE|
| 1/21/2022|           new chair|Household Bills (...|  null|lev300.00|    TRUE|
| 1/21/2022|            desk pad|Household Bills (...|  null| lev30.00|    TRUE|
| 1/22/2022|                 RAM|Household Bills (...|  null| lev60.00|    TRUE|
| 1/22/2022|           Transport|Household Bills (...|  null| lev10.00|    TRUE|
| 1/25/2022|         Ski googles|Household Bills (...|  null|lev100.00|    TRUE|
| 1/28/2022|              Helmet|Household Bills (...|  null|lev100.00|    TRUE|
| 1/28/2022|                Food|                Food|  null| lev70.00|    TRUE|
|  2/2/2022|              Cigars|Household Bills (...|  null| lev10.00|    TRUE|
|  2/3/2022|           Medicals |Household Bills (...|  null| lev75.00|    TRUE|
|  2/3/2022|            New Book|Household Bills (...|  null| lev20.00|    TRUE|
+----------+--------------------+--------------------+------+---------+--------+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import regexp_replace 

cellings = reduced.withColumn('Debits', regexp_replace('Debits','lev', ''))
cellings.show()

+----------+--------------------+--------------------+------+------+--------+
|      Date|         Description|            Category|Income|Debits|Complete|
+----------+--------------------+--------------------+------+------+--------+
|12/30/2021|       Standing Desk|Household Bills (...|  null|640.00|    TRUE|
|12/30/2021|                Gass|                 Car|  null|200.00|    TRUE|
|12/31/2021|            Presents|Household Bills (...|  null|400.00|    TRUE|
| 1/10/2022|            New Book|Household Bills (...|  null| 16.00|    TRUE|
| 1/11/2022|            New Book|Household Bills (...|  null| 52.00|    TRUE|
| 1/11/2022|           Grosaries|                Food|  null| 13.00|    TRUE|
|  1/8/2022|       Laptop Cooler|Household Bills (...|  null|100.00|    TRUE|
| 1/12/2022|Finansical Education|Household Bills (...|  null|650.00|    TRUE|
| 1/15/2022|             Ski fun|Household Bills (...|  null|180.00|    TRUE|
| 1/21/2022|     Bose Headphones|Household Bills (...|  null|127.00|    TRUE|
| 1/21/2022|           new chair|Household Bills (...|  null|300.00|    TRUE|
| 1/21/2022|            desk pad|Household Bills (...|  null| 30.00|    TRUE|
| 1/22/2022|                 RAM|Household Bills (...|  null| 60.00|    TRUE|
| 1/22/2022|           Transport|Household Bills (...|  null| 10.00|    TRUE|
| 1/25/2022|         Ski googles|Household Bills (...|  null|100.00|    TRUE|
| 1/28/2022|              Helmet|Household Bills (...|  null|100.00|    TRUE|
| 1/28/2022|                Food|                Food|  null| 70.00|    TRUE|
|  2/2/2022|              Cigars|Household Bills (...|  null| 10.00|    TRUE|
|  2/3/2022|           Medicals |Household Bills (...|  null| 75.00|    TRUE|
|  2/3/2022|            New Book|Household Bills (...|  null| 20.00|    TRUE|
+----------+--------------------+--------------------+------+------+--------+
only showing top 20 rows

In [10]:
import uuid

o = {
    "name": "Unknown",
    "parent": "Uncategorized",
    "uuid": "06335e84-2872-4914-8c5d-3ed07d2a2f16"
}

print (uuid.uuid4())

97c26e3d-73f1-44cd-a54d-9d1e1be4ec6f